   @import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
   @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
	html,body {
      margin:0;
      padding:0;
      width:100%;
      height:100%;
      background-color:#bcdcea;
      color:#454545;
	  font-family:'Nanum Gothic';
    }
	
	#header {
      position:relative;
	  width:980px;
	  height:200px;
	  background-color:rgba(255,255,255,.6);
      z-index:99;
	}
	#header h1{
	  padding:0;
	  margin:0;
	  font-size:55px;
	  color:rgb(41,128,185);
	  font-family:'Hanna';
	}
    #header h1 a{
      text-decoration: none;
      color:rgb(41,128,185);
    }
	
	#header #nav{
	  list-style:none;
	  display:table;
	  margin:0px;
	  padding:0px;
	  margin-top:40px;
	}
	#header #nav li{
	  font-size:25px;
	  //text-align:center;
	  display:inline-block;
	  margin-right:25px;
	  color:rgb(41,128,185);
	  font-weight:bold;
	  cursor:pointer;
	}
	#header #nav li:hover{
	  color:#454545;
	}
	
    #cloud-layer1{
      position:fixed;
      top:0;
      width:100%;
      height:100%;
    }
    #cloud-layer2{
      position:fixed;
      top:0;
      width:100%;
      height:100%;
    }
	.cloud{
	  position:absolute;
	  background-image:url('../img/white-cloud.png');
	}
    .mdCloud{
      width:150px;
      height:80px;
      background-size:150px auto;
    }
    .smCloud{
       width:75px;
       height:40px;
       background-size:75px auto;
    }
	
    #content{
	   position:relative;
	   width:980px;
	   padding-top:150px;
	   padding-bottom:150px;
	}
	
	.wrap{
	   margin:0 auto;
	}
	
	.article{
	   padding:25px;
	   background-color:rgba(255,255,255,.6);
	   margin-bottom:150px;
	}

    .article .article-title{
       font-size:35px;
    }

    .article h2{
        color:rgb(41,128,185);
    }

    .article .date{
       margin-top:5px;
       font-size:12px;
    }

    .article .content p{
       font-size:15px;
       line-height:25px;
    }

    .article .content .warn{
      color: #d23c3c;
      font-size:12px;
    }

    .article ol{
      font-size:13px;
      line-height:20px;
      margin:0;
      padding-top:10px;
      padding-bottom:10px;
    }

    .article .source-viewer{
      background-color: #0d1222;
      color: #dee7e7;
      font-size:13px;
      line-height:16px;
      padding:15px;
      font-family:'consolas';
    }

    .article a{
      color: #3d64ff;
    }

    .article .source-viewer .dc{
      color: #64d964;
    }

    .article .source-viewer .fc{
      color: #ff620a;
    }
	
	.article .post-list{
	  list-style:none;
	  padding:0;
	  padding-top:15px;
	}
	
	.article .post-list li {
	  position:relative;
	  font-size:25px;
	  cursor:pointer;
	  font-weight:bold;
	  margin-bottom:10px;
	}
	
	.article .post-list li a {
	  position:relative;
	  padding:10px;
	  margin:0;
	  display:block;
	  background-color:white;
	  text-decoration:none;
	  color:#454545;
	}
	
	.article .post-list li a span {
	}
	
	.article .create-date {
	  padding-top:15px;
	  font-size:15px;
	}
	
	.article h1{
	   font-size:40px;
	   padding:0;
	   margin:0;
	   color:rgb(41,128,185);
	}
	
	#footer{
	   position:relative;
	   display:table;
	   margin:0 auto;
	}
